<aside>
    <div
        class="kqgYncRJQ7spwKfig6It _WclR59Ji8jwfmjPtOei neyUwteEn7DOg9pBSJJE cq1ij1EsUw0V2rrqeYEc jCISvWkW5oStPH6Wrb_H VfTNVuFHfUOV2VUUsLM5 _iRPzRRWy2UNkvZFG8iO _Qk4_E9_iLqcHsRZZ4ge _cpMMPjFQqjJu4i0Puod">
        <svg aria-hidden="true"
            class="_vZPglRSyqi4oTXg5L1_ _pwSRUXRHN5bHphyTRKz rZZ58B08lxezTX7iNgGT"
            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z"
                clip-rule="evenodd"></path>
        </svg>
    </div>
    <p
        class="rD4HtsUG_hahmbh2Kj09 MxG1ClE4KPrIvlL5_Q5x XdjN1uxS_rsa3F90ox40 K1PPCJwslha8GUIvV_Cr eCx_6PNzncAD5yo7Qcic">
        Text content</p>
    <p
        class="XklWzT8y98pp042XEQp4 XdjN1uxS_rsa3F90ox40 rZZ58B08lxezTX7iNgGT EwTRjGOFYqbTj4bWVQmN jt7K__cy_iHy7aMDMaLX">
        Ads placeholder</p>
</aside>