<style>@media (min-width: 768px) {
    #mobile-menu {
      display: none;
    }
  }
  </style>
<header style="background-color:#1d1f24!important">
    <nav class="yjGyQxv8jnYk9_MGMqLN pxHuWvF853ck68OLN6ef _gKcj49wZgnwx1LpcJi6 _cpMMPjFQqjJu4i0Puod">
        <div
            class="kqgYncRJQ7spwKfig6It SaxexKs0G0X_YQvtMxF3 _T15kfOPGkvwZnqhqKce neyUwteEn7DOg9pBSJJE veFXkDzfJN473U3ycrV8 RV8RoaI_SlEMC5CEQ3ms HV01LldvyEqRHHy0hljF">
            <a href="https://www.ysource.net"
                class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE hover:text-primary-600 dark:hover-text-primary-500">
                <img src="https://cdn.yeahgames.net/img/branding/logos/default/logo.svg"
                    class="Cl7RaVW6jbggnJW_S87T _XD2a764x49B1E2F9f8X YfzLSd3rpFqGnHJwRwkW" alt="yEAh Logo">
                <span
                    class="dNzAVbf73rfV8iSOvOJV uyo8h_4Kh1IoUwm8bwJI LYMps1kO2vF8HBymW3az b8ZffOVbGm2yi3A6gDUi a0Ed69aMSu0vgf4oysz0">ySource.net</span>
            </a>
            <div class="kqgYncRJQ7spwKfig6It neyUwteEn7DOg9pBSJJE _GZsiNCqsrFLCzwvCob5">
                <a href="#"
                    class="wP9HMsqy6b96l2HBRbgb bg-primary-700 hover:bg-primary-800 _FONMPVaCsLFJJGDaaIL focus:ring-primary-300 _A6LflweZRUwrcL6M2Tk _Qk4_E9_iLqcHsRZZ4ge MxG1ClE4KPrIvlL5_Q5x veFXkDzfJN473U3ycrV8 WspMO_OfyhdWZD4zvJ_5 zhRMeqbg7JsftloqW_W6 XQylmKmobxTQrqDKzUv0 _gmxfZ2BpOHxa6nWwqBB dark:bg-primary-600 dark:hover:bg-primary-700 qHIOIw8TObHgD3VvKa5x dark:focus:ring-primary-800">Get
                    started</a>
                <button id="mobile-menu" data-collapse-toggle="mobile-menu-2" type="button"
                    class="ay0ziTPUL4Ag5d1DkSY7 neyUwteEn7DOg9pBSJJE Y34SQMYAJVIAdOFKA3gG P_IkL3rPmLoJg_v9DE3m MxG1ClE4KPrIvlL5_Q5x K1PPCJwslha8GUIvV_Cr _Qk4_E9_iLqcHsRZZ4ge h8gF_NZYDOJSgLV1azfd DpMPWwlSESiYA8EE1xKM qHIOIw8TObHgD3VvKa5x X3ifvK6lzvLzkZabaIQd _bKyZ1er5YE_NnrwOCm9 eCx_6PNzncAD5yo7Qcic _OovBxfPdK7Rjv2nh2Ot P53YJBBtllZv8_nFHFHW"
                    aria-controls="mobile-menu-2" aria-expanded="false">
                    <span class="BWabIWdbZ5qWNbPXxuBc">Open main menu</span>
                    <svg class="eUuXwBkW5W4__eatjSfd RRXFBumaW2SHdseZaWm6" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <svg class="j2x7_17hqRVmwte_tWFa eUuXwBkW5W4__eatjSfd RRXFBumaW2SHdseZaWm6" fill="currentColor"
                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <div class="j2x7_17hqRVmwte_tWFa _T15kfOPGkvwZnqhqKce neyUwteEn7DOg9pBSJJE jCISvWkW5oStPH6Wrb_H s39ClfdnICIuO9QZ5YG_ x16RiZy31Lz8xj1p8DTg d9DrQGZXvYcO_IWUhNZY"
                id="mobile-menu-2">
                <ul
                    class="kqgYncRJQ7spwKfig6It BrSO24r_jx46AXZOyBJR KgBTWt39fdiAC__YVNt8 _A6LflweZRUwrcL6M2Tk aXohCatq2P98Q80o4vdb ORu_LwDmRLM0RR7ijLIz bFw6_PuBdnL4xhqF70MG">
                    <li>
                        <a href="https://www.ysource.net"
                            class="ttxtqsLWp2pFRX8yUvWd zhRMeqbg7JsftloqW_W6 reAJ_nOWATzan3NC80sz _mzhSDAYlA3W05MgSqAf jJJfWn8GV_ODBSwRp2nH umaBek2qJLzF9vdDPtgc _E_ViFGlEBUTz0Br1F1a yFAsiu26MUcycUf9RwrL rTxHZDLUZqxAhUe6Wf8T EUfBB_khU9dvwV6ZKXFW lg:hover:text-primary-700 L0SUx_KDTvr32_8Z3m3b eCx_6PNzncAD5yo7Qcic jZaHpqNJ0wakM95nqY0O _OovBxfPdK7Rjv2nh2Ot DTyjKhtXBNaebZa5L0l9 L5mYl8DlLZlLZADU5wN9 JeVit_1klYopnNwu_8oy"
                            aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="#"
                            class="ttxtqsLWp2pFRX8yUvWd zhRMeqbg7JsftloqW_W6 reAJ_nOWATzan3NC80sz _mzhSDAYlA3W05MgSqAf jJJfWn8GV_ODBSwRp2nH umaBek2qJLzF9vdDPtgc _E_ViFGlEBUTz0Br1F1a yFAsiu26MUcycUf9RwrL rTxHZDLUZqxAhUe6Wf8T EUfBB_khU9dvwV6ZKXFW lg:hover:text-primary-700 L0SUx_KDTvr32_8Z3m3b eCx_6PNzncAD5yo7Qcic jZaHpqNJ0wakM95nqY0O _OovBxfPdK7Rjv2nh2Ot DTyjKhtXBNaebZa5L0l9 L5mYl8DlLZlLZADU5wN9 JeVit_1klYopnNwu_8oy">Company</a>
                    </li>
                    <li>
                        <a href="#"
                            class="ttxtqsLWp2pFRX8yUvWd zhRMeqbg7JsftloqW_W6 reAJ_nOWATzan3NC80sz _mzhSDAYlA3W05MgSqAf jJJfWn8GV_ODBSwRp2nH umaBek2qJLzF9vdDPtgc _E_ViFGlEBUTz0Br1F1a yFAsiu26MUcycUf9RwrL rTxHZDLUZqxAhUe6Wf8T EUfBB_khU9dvwV6ZKXFW lg:hover:text-primary-700 L0SUx_KDTvr32_8Z3m3b eCx_6PNzncAD5yo7Qcic jZaHpqNJ0wakM95nqY0O _OovBxfPdK7Rjv2nh2Ot DTyjKhtXBNaebZa5L0l9 L5mYl8DlLZlLZADU5wN9 JeVit_1klYopnNwu_8oy">Marketplace</a>
                    </li>
                    <li>
                        <a href="#"
                            class="ttxtqsLWp2pFRX8yUvWd zhRMeqbg7JsftloqW_W6 reAJ_nOWATzan3NC80sz _mzhSDAYlA3W05MgSqAf jJJfWn8GV_ODBSwRp2nH umaBek2qJLzF9vdDPtgc _E_ViFGlEBUTz0Br1F1a yFAsiu26MUcycUf9RwrL rTxHZDLUZqxAhUe6Wf8T EUfBB_khU9dvwV6ZKXFW lg:hover:text-primary-700 L0SUx_KDTvr32_8Z3m3b eCx_6PNzncAD5yo7Qcic jZaHpqNJ0wakM95nqY0O _OovBxfPdK7Rjv2nh2Ot DTyjKhtXBNaebZa5L0l9 L5mYl8DlLZlLZADU5wN9 JeVit_1klYopnNwu_8oy">Features</a>
                    </li>
                    <li>
                        <a href="#"
                            class="ttxtqsLWp2pFRX8yUvWd zhRMeqbg7JsftloqW_W6 reAJ_nOWATzan3NC80sz _mzhSDAYlA3W05MgSqAf jJJfWn8GV_ODBSwRp2nH umaBek2qJLzF9vdDPtgc _E_ViFGlEBUTz0Br1F1a yFAsiu26MUcycUf9RwrL rTxHZDLUZqxAhUe6Wf8T EUfBB_khU9dvwV6ZKXFW lg:hover:text-primary-700 L0SUx_KDTvr32_8Z3m3b eCx_6PNzncAD5yo7Qcic jZaHpqNJ0wakM95nqY0O _OovBxfPdK7Rjv2nh2Ot DTyjKhtXBNaebZa5L0l9 L5mYl8DlLZlLZADU5wN9 JeVit_1klYopnNwu_8oy">Team</a>
                    </li>
                    <li>
                        <a href="#"
                            class="ttxtqsLWp2pFRX8yUvWd zhRMeqbg7JsftloqW_W6 reAJ_nOWATzan3NC80sz _mzhSDAYlA3W05MgSqAf jJJfWn8GV_ODBSwRp2nH umaBek2qJLzF9vdDPtgc _E_ViFGlEBUTz0Br1F1a yFAsiu26MUcycUf9RwrL rTxHZDLUZqxAhUe6Wf8T EUfBB_khU9dvwV6ZKXFW lg:hover:text-primary-700 L0SUx_KDTvr32_8Z3m3b eCx_6PNzncAD5yo7Qcic jZaHpqNJ0wakM95nqY0O _OovBxfPdK7Rjv2nh2Ot DTyjKhtXBNaebZa5L0l9 L5mYl8DlLZlLZADU5wN9 JeVit_1klYopnNwu_8oy">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>